body{
    font-family: Arial, Helvetica, sans-serif; /* fonte */
    margin: 0; /* Margem*/
    padding: 0; /* Espacamentos dos textos */
    background-color: gray; /* Cor de fundo*/
}
.container{
    display: flex; /* possicao das divs Flex = movivel, Block = travado*/
    flex-wrap: wrap; /* Empede a sobreposicao*/
    justify-content: space-around; /* Espaco ao redor das divs*/
    margin-top: 15px; /* Margem da distancia das divs */
}

.profissoes{
    margin: 20px; /* margem entre as div*/
    background-color: cyan; /* cor de fundo */
    border: 5px double rgb(110, 109, 109); /* Borda */
    border-radius: 30px; /* Arredondar Bordas */
    padding: 5px; /* Espacamento dos espacos */
    box-shadow: 0px 0px 20px black; /* Sombra da div */
    width: 27%; /* Tamanho das divs */
    text-align: center; /*Alinhar o texto*/ 
}

h1{
    font-family: 'Courier New', Courier, monospace; /* Fonte */
    text-align: center; /* Alinhar o texto */
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none; /* Estilo do link*/
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
    
}

a {
    text-decoration: none; /* Decoracao de texto */
    color: white; /*Cor do texto*/
}

a:hover {
    color: rgb(0, 68, 255); /*Cor */
}

